<!DOCTYPE html>
<html lang="es">
<head>
    <title>Consulta</title>
    <%- include('./templates/head.ejs') %>
</head>
<body class="body-consulta">
    <div>
        <%- include('./templates/header-nav.ejs') %>
    </div>

    <main class="contenedor sombras" style="max-width: 140rem;">
        <a href="/" class="btn btn-outline-primary mt-4 mb-2"><i class='bx bxs-plus-circle bx-md'></i></a>
        
        <table class="table table-bordered table-striped text-center mt-2" style="vertical-align: middle;">
            <thead>
                <tr class="bg-warning text-white">
                    <th>ID <a href="/consulta"><i class='bx bx-caret-down-circle'></i></a></th>
                    <th>Nombre</th>
                    <th>Apellido <a href="/consulta/<%= 'apellido' %>"><i class='bx bx-caret-down-circle'></i></a></th>
                    <th>DNI <a href="/consulta/<%= 'dni' %>"><i class='bx bx-caret-down-circle'></i></a></th>
                    <th>Fecha Nacimiento</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Domicilio</th>
                    <th>Observaciones</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <% if(resultados.length === 0){ %>
                    <!-- <tr>
                        <td><strong>Aun no hay alumnos cargados!!</strong></td>
                    </tr> -->
                    <p class="centrar-texto alerta"><strong>Aun no hay alumnos cargados!!</strong></p>
            <% }else { %>
            <tbody>
                <% resultados.forEach((alumno)=>{ %>
                <tr>
                    <td ><%= alumno.idalumnos %></td>
                    <td class="capitalize"><%= alumno.nombre %></td>
                    <td class="capitalize"><%= alumno.apellido %></td>
                    <td><%= alumno.dni %></td>
                    <td><%= alumno.fecha_nac.toLocaleDateString() %></td>
                    <td><%= alumno.telefono %></td>
                    <td><%= alumno.email %></td>
                    <td class="capitalize"><%= alumno.domicilio %></td>
                    <td><%= alumno.observaciones %></td>
                    <td>
                        <a href="/modifica/<%= alumno.idalumnos %>" class="btn btn-outline-info mt-1 mb-1">editar</a>
                        <a href="/elimina/<%= alumno.idalumnos %>" class="btn btn-outline-danger mt-1 mb-1">borrar</a>
                    </td>
                </tr>
                <% })} %>
            </tbody>
        </table>
    </main>

    <%- include('./templates/footer.ejs') %>
</body>
</html>