<!DOCTYPE html>
<html lang="es">
<head>
    <title>Contacto</title>
    <%- include('./templates/head.ejs') %>
</head>
<body>
    <%- include('./templates/header-nav.ejs') %>

    <main class="contenedor sombras">
        <section>
			<h2 class="titulo mgb-2">Completa el Formulario de Contacto</h2>

			<form class="formulario" action="/enviar-correo" method="post" enctype="text/html">
				<fieldset>
					<legend>Ingrese sus datos y el perfil buscado</legend>
					<div class="formulario-campos formulario-campos__login">	
						<div class="campo">
							<label for="nombre">Nombre:</label>
							<input class="input" type="text" name="nombre" id="nombre" placeholder="Ingrese nombre" pattern="^[a-zA-Z\s]+$" title="Este campo admite solo caracteres alfabeticos y minimo 3 letras" minlength="2" maxlength="35"  autocomplete="off">
						</div>

                        <div class="campo">
                              <label for="email">Correo:</label>
                            <input class="input" type="email" name="email" id="email" placeholder="Email (algo@server.com)" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" title="Formato valido (algo@mail.com)" maxlength="30"  autocomplete="off">
                        </div>
                        
                        <div class="campo">
                            <label for="empresa">Empresa:</label>
                             <select class="input capitalize" name="empresa" id="empresa"  title="Elija un rubro en las opciones listadas">
                                <option class="input-select" selected disabled>Elija un rubro:</option>
                                <!-- <% if(typeof rows !== "undefined"){rows.forEach((carrera)=>{ %>
                                    <option class="input-carrera capitalize" value="<%= carrera.idcarrera %>"><%= carrera.nomenclatura %></option>
                                <% })} %> -->
                                <option class="input-carrera" >Programacion/IT</option>
                                <option class="input-carrera" >Industria Alimenticia</option>
                                <option class="input-carrera" >Diseño Industrial</option>
                                <option class="input-carrera" >Medicina</option>
                             </select>
                        </div>

                        <div class="campo">
                            <label for="puesto">Tipo de puesto:</label>
                             <select class="input capitalize" name="puesto" id="puesto"  title="Indique el tipo de puesto a cubrir">
                                <option class="input-select" value="" selected disabled>Indique tipo de puesto:</option>
                                <!-- <% if(typeof rows !== "undefined"){rows.forEach((carrera)=>{ %>
                                    <option class="input-carrera capitalize" value="<%= carrera.idcarrera %>"><%= carrera.nomenclatura %></option>
                                <% })} %> -->
                                <option class="input-carrera" >Pasantia</option>
                                <option class="input-carrera" >Medio Tiempo</option>
                                <option class="input-carrera" >Jornada Completa</option>
                             </select>
                        </div>

						<div class="campo">
							<label for="mensaje">Descripcion del puesto:</label>
							<textarea class="input" name="mensaje" id="mensaje" maxlength="140"></textarea>
						</div>
					</div><!-- .formulario-campos -->
					
					<div class="alinear-derecha flex">
						<input class="boton w100" type="submit" value="Enviar">
						<input class="boton w100" type="reset" value="Borrar">
					</div>
				</fieldset>
			</form>
		</section>
    </main>

    <%- include('./templates/footer.ejs') %>
    <script src="/js/sweetalert2.all.min.js"></script>
    <script type="module" src="/js/contacto.js"></script>
    <% if(typeof alert !== "undefined"){if(alert){ %> 
        <script >
                Swal.fire({
                    icon: "<%= alertIcon %>",
                    title: "<%= alertTitle %>",
                    text: "<%= alertMessage %>",
                })
                .then
                setTimeout(()=>{
                    window.location = "/<%= ruta %>"
                },3000);    
        </script>
    <% }} %>
</body>
</html>