<!DOCTYPE html>
<html lang="es">
<head>
    <title>Login</title>
    <%- include('./templates/head.ejs') %>
</head>
<body class="body-consulta">
    <div>
        <%- include('./templates/header-nav.ejs') %>
        
        <% if(typeof muestra !== "undefined"){ let fondo = (muestra.includes('No')) ? 'alerta' : 'acepta'; %> 
            <p class="contenedor centrar-texto <%= fondo %>">
                <%= muestra %>
            </p>
	    <% } %>
    </div>

    <main class="contenedor sombras" style="display: grid; align-items: center;">
       <div>
           <h2 class="titulo mgb-2">Login</h2>
           <form class="formulario" action="/ingresar" method="post" enctype="text/html">
               <fieldset>
                   <div class="formulario-campos formulario-campos__login">
                       <div class="campo">
                           <label for="usuario">Ingrese usuario:</label>
                           <input class="input" type="text" name="usuario" id="usuario" placeholder="Ingrese Usuario Registrado" title="Ingrese su usuario" minlength="3" maxlength="45" autocomplete="off" >
                       </div>
                       <div class="campo" id="campo-pass">
                           <label for="pass">Ingrese su contrase単a:</label>
                           <input type="password" class="input" name="pass" id="pass" placeholder="Ingrese una contrase単a valida" title="Ingrese su contrase単a" minlength="4" autocomplete="off" >
                       </div>
                        <div class="campo">
                            <input type="checkbox" name="ver" id="ver" value="ver-pass">Mostrar contrase単a
                        </div>
                   </div>
                   <div class="alinear-derecha flex">
                       <input class="boton w100" type="submit" value="Enviar">
                       <!-- <input class="boton w100" type="reset" value="Borrar"> -->
                       <a class="boton w100" href="/register" target="_self">Registrar</a>
                   </div>
               </fieldset>
           </form>
       </div>
    </main>

    <%- include('./templates/footer.ejs') %>
    <script type="module" src="/js/login.js"></script>
    <script src="/js/sweetalert2.all.min.js"></script>
    <% if(typeof alert !== "undefined"){if(alert){ %> 
    <script >
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "No pueden quedar vacios estos campos!",
            });
    </script>
    <% }} %>
</body>
</html>