<!DOCTYPE html>
<html lang="es">
<head>
    <title>Modificar Permisos</title>
    <%- include('./templates/head.ejs') %>
</head>
<body class="body-consulta">
    <div>
        <%- include('./templates/header-nav.ejs') %>
    </div>

    <main class="contenedor sombras" style="max-width: 140rem;">
        <div style="display:grid; grid-template-columns: 1fr 2fr 1fr;">
            <div style="grid-column: 2/3;">
                <% if(typeof usuario !== "undefined"){ %>
                    <h2 class="capitalize" style="align-self: flex-end;">Bienvenido: <%= usuario.nombre %>!!</h2>
                <% } %>
            </div>
            <div style="display: flex; justify-content: end;">
                <a class="btn btn-outline-primary mt-4 mb-2" style="margin-right: 1rem;" href="/agregar">Agregar Usuarios</a>
                <a class="btn btn-outline-danger mt-4 mb-2" href="/logout">Logout</a>
            </div>
        </div>
        <!-- <div class="consulta-barra">
            <a href="/" class="btn btn-outline-primary mt-4 mb-2"><i class='bx bxs-plus-circle bx-md'></i></a>
            <div>
                <form class="consulta-form" action="/filtra" method="post">
                    <div class="consulta-form__select">
                        <label for="carrera">Carrera:</label>
                        <select class="capitalize" name="carrera" id="carrera"  title="Elija una carrera en las opciones listadas">
                            <option class="input-select" value="todas" selected >Elija una carrera:</option>
                            <option class="input-carrera" value="todas">Todas</option>
                            <% if(typeof rows !== "undefined"){rows.forEach((carrera)=>{ %>
                                <option class="input-carrera capitalize" value="<%= carrera.idcarrera %>"><%= carrera.nomenclatura %></option>
                            <% })} %>
                        </select>
                    </div>
                    <div class="consulta-form__select">
                        <label for="egresado">Egresado:</label>
                        <select name="egresado" id="egresado" title="Elija si busca alumno egresado o cursando">
                            <option class="input-select" value="todas" selected >Elija condicion:</option>
                            <option class="input-carrera" value="todas">Todas</option>
                            <option value="0" class="input-carrera">No</option>
                            <option value="1" class="input-carrera">Si</option>
                        </select>
                    </div>
                    
                     <button class="btn btn-outline-primary mt-4 mb-2" type="submit"><i class='bx bx-search-alt-2 bx-md'></i></button>
                </form>
            </div>
        </div> -->
        <table class="table table-bordered table-striped text-center mt-2" style="vertical-align: middle;">
            <thead>
                <tr class="bg-warning text-white">
                    <th><a href="#" class="encabezado"><span>ID </span><i class='bx bx-caret-down-circle'></i></a></th>
                    <th><a href="#" class="encabezado"><span>Usuario </span><i class='bx bx-caret-down-circle'></i></a></th>
                    <th><a href="#" class="encabezado"><span>Nombre Completo </span><i class='bx bx-caret-down-circle'></i></a></th>
                    <th><a href="#" class="encabezado"><span>DNI </span><i class='bx bx-caret-down-circle'></i></a></th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <% if(resultados.length === 0){ %>
                    <p class="centrar-texto alerta"><strong>Aun no hay Usuarios Registrados!!</strong></p>
            <% }else { %>
            <tbody>
                <% resultados.forEach((usuario)=>{ %>
                <tr>
                    <td ><%= usuario.id %></td>
                    <td><%= usuario.usuario %></td>
                    <td class="capitalize"><%= usuario.nombre %></td>
                    <td><%= usuario.dni %></td>
                    <td><%= usuario.email %></td>
                    <td class="capitalize"><%= usuario.rol %></td>
                    <td>
                        <a href="/modifica-permisos/<%= usuario.id %>/<%= usuario.rol %>" class="btn btn-outline-info mt-1 mb-1">editar</a>
                        <a href="/elimina-usuario/<%= usuario.id %>/<%= usuario.rol %>" class="btn btn-outline-danger mt-1 mb-1">borrar</a>
                    </td>
                </tr>
                <% })} %>
            </tbody>
        </table>
    </main>

    <%- include('./templates/footer.ejs') %>
    <script src="/js/consulta.js"></script>
</body>
</html>