<!DOCTYPE html>
<html lang="es">
<head>
    <title>Modifica Oferta</title>
   <%- include('./templates/head.ejs') %>
</head>
<body>
    <div>
        <%- include('./templates/header-nav.ejs') %>
        <div style="display:grid; grid-template-columns:  auto 1fr;">
            <div style="grid-column: 2/3; justify-self: flex-end;">
                <% if(typeof usuario !== "undefined"){ %>
                    <p class="capitalize" style="align-self: flex-end; margin-bottom: 0px; margin-right: 1rem;"><small><%= usuario.nombre %></small></p>
                <% } %>
            </div>
            <div style="grid-column: 3/4">
                <div style="display: flex; justify-content: end; margin-right: 1rem;">
                    <% if (typeof usuario!== "undefined"){ if(usuario.ROL_idrol === 1){ %>   
                    <a class="btn btn-outline-primary mt-1 mb-4" style="margin-right: 1rem;" href="/modifica-usuario">Modificar Usuarios</a>
                    <% }} %> 
                    <a class="btn btn-outline-danger mt-1 mb-4" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div>      
        <% if(typeof muestra !== "undefined"){ let fondo = (muestra.includes('No')) ? 'alerta' : 'acepta'; %> 
            <p class="contenedor centrar-texto <%= fondo %>">
                <%= muestra %>
            </p>
	    <% } %>
    </div>

    <main class="contenedor sombras">
        <% if(resultados){ %>
        <section>
			<h2 class="titulo mgb-2">Modifica los Datos de tu Oferta</h2>

			<form class="formulario" action="/modificaOferta" method="post" enctype="text/html">
				<fieldset>
					<legend>Ingrese sus datos y el perfil buscado</legend>
					<div class="formulario-campos formulario-campos__login">	
						<div class="campo">
							<label for="nombre">Nombre de Contacto:</label>
							<input class="input capitalize" type="text" name="nombre" id="nombre" placeholder="Ingrese nombre Contacto" pattern="^[a-zA-Z|ñ\s]+$" title="Este campo admite solo caracteres alfabeticos y minimo 2 letras" minlength="2" maxlength="100"  autocomplete="off" value="<%= resultados.nombre_contacto %>">
						</div>

                        <div class="campo">
							<label for="empresa">Empresa:</label>
							<input class="input capitalize" type="text" name="empresa" id="empresa" placeholder="Empresa" pattern="^[a-zA-Z|ñ\s]+$" title="Este campo admite solo caracteres alfabeticos y minimo 2 letras" minlength="2" maxlength="45"  autocomplete="off" value="<%= resultados.empresa %>" >
						</div>

                        <div class="campo">
                            <label for="email">Correo:</label>
                            <input class="input" type="email" name="email" id="email" placeholder="Email (algo@server.com)" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" title="Formato valido (algo@mail.com)" maxlength="30"  autocomplete="off" value="<%= resultados.email %>">
                        </div>
                        
                        <div class="campo">
                            <label for="rubroEmpresa">Rubro Empresa:</label>
                             <select class="input capitalize" name="rubroEmpresa" id="rubroEmpresa"  title="Elija un rubro en las opciones listadas">
                                <option class="input-select" selected value="<%= resultados.rubro %>"><%= nomenclatura.rubro %></option>
                                <% if(typeof rows !== "undefined"){rows.forEach((rubro)=>{ %>
                                    <option class="input-carrera capitalize" value="<%= rubro.idrubro %>"><%= rubro.rubro %></option>
                                <% })} %>
                             </select>
                        </div>

                        <div class="campo">
                            <label for="puesto">Tipo de puesto:</label>
                             <select class="input capitalize" name="puesto" id="puesto"  title="Indique el tipo de puesto a cubrir">
                                <option class="input-select" value="<%= resultados.tipo_puesto %>" selected><%= resultados.tipo_puesto %></option>
                                <!-- <% if(typeof rows !== "undefined"){rows.forEach((carrera)=>{ %>
                                    <option class="input-carrera capitalize" value="<%= carrera.idcarrera %>"><%= carrera.nomenclatura %></option>
                                <% })} %> -->
                                <option class="input-carrera" >Pasantia</option>
                                <option class="input-carrera" >Medio Tiempo</option>
                                <option class="input-carrera" >Jornada Completa</option>
                             </select>
                        </div>

						<div class="campo">
							<label for="mensaje">Descripcion del puesto:</label>
							<textarea class="input" name="mensaje" id="mensaje" maxlength="140"><%= resultados.descripcion %></textarea>
						</div>
					</div><!-- .formulario-campos -->

                    <div class="campo-grilla">
                        <div class="campo-grilla__radio">
                            <div>
                                <input type="radio" id="id" name="id" value="<%= resultados.idofertas %>" checked >
                                <label for="id" class= >ID Oferta: <%= resultados.idofertas %> </label>
                            </div>
                        </div>
                    </div>   
					
					<div class="alinear-derecha flex">
						<input class="boton w100" type="submit" value="Enviar">
						<!-- <input class="boton w100" type="reset" value="Borrar"> -->
                        <a class="boton w100" href="/ofertas" target="_self">Cancelar</a>
					</div>
				</fieldset>
			</form>
		</section>
        <% } %>
    </main>

    <%- include('./templates/footer.ejs') %>
    <script src="/js/sweetalert2.all.min.js"></script>
    <script type="module" src="/js/contacto.js"></script>
    <% if(typeof alert !== "undefined"){if(alert){ %> 
        <script >
                Swal.fire({
                    icon: "<%= alertIcon %>",
                    title: "<%= alertTitle %>",
                    text: "<%= alertMessage %>",
                })
                .then
                setTimeout(()=>{
                    window.location = "/<%= ruta %>"
                },3000);    
        </script>
    <% }} %>  
</body>
</html>