<!DOCTYPE html>
<html lang="es">
<head>
    <title>Registrar</title>
    <%- include('./templates/head.ejs') %>
</head>
<body class="body-consulta">
    <div>
        <%- include('./templates/header-nav.ejs') %>

        <% if(typeof muestra !== "undefined"){ let fondo = (muestra.includes('No')) ? 'alerta' : 'acepta'; %> 
            <p class="contenedor centrar-texto <%= fondo %>">
                <%= muestra %>
            </p>
	    <% } %>
    </div>

    <main class="contenedor sombras" style="display: flex; flex-direction: column; justify-content: center; gap: 1rem;">
        <h2 class="titulo mgb-2">Registrarse</h2>
        <p class="alerta">El registro esta habilitado solo para usuarios autorizados por DNI!!</p>
        <% if(typeof idUsuariosAutorizados !=='undefined' && typeof idRolesAutorizados !== 'undefined'){ %>
        <form class="formulario" action="/registrar/<%= idUsuariosAutorizados %>/<%= idRolesAutorizados %>" method="post" enctype="text/html">
        <% }else{ %>
        <form class="formulario" action="/registrar" method="post" enctype="text/html">
        <% } %>
            <fieldset>
                <div class="formulario-campos formulario-campos__login">
                    <div class="campo">
                        <label for="nombre">Ingrese nombre completo:</label>
                        <input class="input" type="text" name="nombre" id="nombre" placeholder="Ingrese nombre y apellido" pattern="^[a-zA-Z|ñ\s]*$" title="Ingrese su nombre completo" minlength="5" maxlength="100" autocomplete="off">
                    </div>
                    <div class="campo">
                        <label for="dni">DNI:</label>
                        <input class="input" type="text" name="dni" id="dni" placeholder="DNI (solo numeros)" pattern="^[0-9]*$" title="Este campo admite solo caracteres numericos con minimo 7 digitos y maximo 8" minlength="7" maxlength="8"  autocomplete="off">
                    </div>
                    <div class="campo">
                        <label for="email">Correo:</label>
                        <input class="input" type="email" name="email" id="email" placeholder="Email (algo@server.com)" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" title="Formato valido (algo@mail.com)" maxlength="30" autocomplete="off">
                    </div>
                    <div class="campo">
                        <label for="usuario">Ingrese usuario:</label>
                        <input class="input" type="text" name="usuario" id="usuario" placeholder="Ingrese Usuario Deseado" title="Ingrese su usuario" minlength="3" maxlength="45" autocomplete="off">
                    </div>
                    <div class="campo" id="campo-pass">
                        <label for="pass">Ingrese su contraseña:</label>
                        <input type="password" class="input" name="pass" id="pass" placeholder="Ingrese Contraseña Nueva" title="Ingrese su contraseña" minlength="4" autocomplete="off">
                    </div>
                    <div class="campo">
                        <input type="checkbox" name="ver" id="ver" value="ver-pass">Mostrar contraseña
                    </div>
                </div>
                <div class="alinear-derecha flex">
                    <input class="boton w100" type="submit" value="Enviar">
                    <!-- <input class="boton w100" type="reset" value="Borrar"> -->
                    <a class="boton w100" href="/" target="_self">Cancelar</a>
                </div>
            </fieldset>
        </form>
    </main>

    <%- include('./templates/footer.ejs') %>
    <script src="/js/usuario.js" type="module"></script>
    <script src="/js/sweetalert2.all.min.js"></script>
    <% if(typeof alert !== "undefined"){if(alert){ %>
    <script > 
        Swal.fire({
            icon: "<%= alertIcon %>",
            title: "<%= alertTitle %>",
            text: "<%= alertMessage %>",
        })
        .then
        setTimeout(()=>{
            window.location = "/<%= ruta %>"
        },3000);
    </script>
    <% }} %>
</body>
</html>